<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- launch the teleop node for driving the ROSbot with a keyboard-->
    <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen" launch-prefix="xterm -e">
      <remap from="/cmd_vel" to="/first/cmd_vel" />
      <param name="scale_linear" value="1.0" type="double"/>
      <param name="scale_angular" value="1.5" type="double"/>
    </node> -->
    <!--debug mode of gazebo is off-->
    <node pkg="ang_vel_pub" name="first_ang_vel_pub" type="ang_vel_pub_node.py" output="screen" args="'/first'">
    </node>
    <node pkg="ang_vel_pub" name="second_ang_vel_pub" type="ang_vel_pub_node.py" output="screen" args="'/second'">
    </node>
    <node pkg="ang_vel_pub" name="third_ang_vel_pub" type="ang_vel_pub_node.py" output="screen" args="'/third'">
    </node>


</launch>
