<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py --inorder '$(find rosbot_description)/urdf/rosbot.xacro' robot_namespace:=first"/>
  <param name="second_robot_description" command="$(find xacro)/xacro.py --inorder '$(find rosbot_description)/urdf/rosbot.xacro' robot_namespace:=second"/>

  <node name="rosbot_spawn_first" pkg="gazebo_ros" type="spawn_model" output="log" args="-urdf -param robot_description -model rosbot_s -y 0 -namespace first">
  </node>
  <node name="rosbot_spawn_second" pkg="gazebo_ros" type="spawn_model" output="log" args="-urdf -param second_robot_description -model rosbot -y 2.5 -namespace second">
  </node>

  <group ns="first">
    <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller"/>
    <node name="first_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="first"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="first_odom" args="0 0 0 0 0 0 1 map first/odom 100" />
  </group>

  <!-- <group ns="second">
    <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
    <node name="joint_state_controller_spawner2" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller"/>
    <node name="second_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <remap from="robot_description" to="second_robot_description" />
      <param name="tf_prefix" value="second"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="second_odom" args="0 0 0 0 0 0 1 map second/odom 100" />
  </group> -->

</launch>
