<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- launch the teleop node for driving the ROSbot with a keyboard-->
    <!-- <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen" launch-prefix="xterm -e">
      <remap from="/cmd_vel" to="/first/cmd_vel" />
      <param name="scale_linear" value="1.0" type="double"/>
      <param name="scale_angular" value="1.5" type="double"/>
    </node> -->
    <!--debug mode of gazebo is off-->
    <node pkg="decision_py" name="first_decision_py" type="decision.py" output="screen" args="'/first'">
    </node>
    <node pkg="decision_py" name="second_decision_py" type="decision.py" output="screen" args="'/second'">
    </node>
    <node pkg="decision_py" name="third_decision_py" type="decision.py" output="screen" args="'/third'">
    </node>
    <node pkg="decision_py" name="fourth_decision_py" type="decision.py" output="screen" args="'/fourth'">
    </node>
    <node pkg="decision_py" name="fifth_decision_py" type="decision.py" output="screen" args="'/fifth'">
    </node>


</launch>
